*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
.banner{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.40),rgba(0,0,0,0.40));
    Object-fit: cover

}
.navbar{
    width: 90%;
    padding: 30px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 160px;
    margin-top: -10px;
    cursor: pointer;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 20px;
}
.navbar ul li a{
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-weight: 600;
    padding: 15px;
}
li a:hover{
    background: white;
    transition: 0.6s;
}
.navbar a:hover{
    color: black;
}
.content{
    width: 100%;
    position: absolute;
    color: white;
    top: 45%;
    transform: translateY(-50%);
    text-align: center;
}
.content h1{
    margin-top: 8%;
    font-size: 90px;
    font-weight: 800;
}
button{
    width: 200px;
    padding: 15px;
    margin: 20px 5px;
    text-align: center;
    border-radius: 25px;
    color: black;
    border: 2px;
    font-size: 20px;
    cursor: pointer;
    font-weight: 600;
}
button:hover{
    background: rgb(0, 192, 226);
    transition: 0.5s;
}
button:hover{
    color: white;
}
.banner video{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}
@media(min-aspect-ratio: 16/9){
    .banner video{
        width: 100%;
        height: auto;
    }
}
.dolphin{
    width: 100%;
    object-fit:cover
}
.s1{
    width: 50%;
    position: absolute;
    color: rgb(25, 87, 219);
    top: 125%;
    transform: translateY(-50%);
    transform: translateX(30px);
    text-align: left;
    font-size: 55px;
}

.content1{
    width: 50%;
    position: absolute;
    color: rgb(255, 255, 255);
    top: 155%;
    transform: translateY(-50%);
    transform: translateX(30px);
    font-size: 35px;
}
.Story1{
    width: 100%;
    position: absolute;
    color: rgb(255, 255, 255);
    top: 130%;
    transform: translateY(-50%);
    transform: translateX(3px);
    font-size: 25px;
}
.s2{
    width: 50%;
    position: absolute;
    color: rgb(42, 67, 117);
    top: 235%;
    transform: translateY(-50%);
    transform: translateX(94%);
    text-align: right;
    font-size: 55px;
}
.content2{
    width: 50%;
    position: absolute;
    color: rgb(255, 255, 255);
    top: 250%;
    transform: translateY(-50%);
    transform: translateX(700px);
    font-size: 35px;
    text-align: right;
}
.Story2{
    width: 75%;
    position: absolute;
    color: rgb(255, 255, 255);
    top: 263%;
    transform: translateY(-50%);
    transform: translateX(310px);
    font-size: 25px;
    text-align: right;
}
.s3{
    width: 50%;
    position: absolute;
    color: rgb(18, 42, 95);
    top: 350%;
    transform: translateY(-50%);
    transform: translateX(30px);
    text-align: left;
    font-size: 55px;
}
.content3{
    width: 50%;
    position: absolute;
    color: rgb(255, 255, 255);
    top: 380%;
    transform: translateY(-50%);
    transform: translateX(30px);
    font-size: 35px;
}
.Story3{
    width: 50%;
    position: absolute;
    color: rgb(255, 255, 255);
    top: 393%;
    transform: translateY(-50%);
    transform: translateX(30px);
    font-size: 25px;
}